*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    text-align: center;
}

h1{
    margin-top: 50px;
}

button{
    margin-top: 10px;
    width: fit-content;
    padding: 5px 20px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.active{
    background-color: green;
    color: white;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
}

.btn{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    cursor: pointer;
    border-radius: 20%;
    margin: 2rem;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}

@media (max-width:600px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btn{
        width: 150px;
        height: 150px;
        border: 5px solid black;
        margin: 1rem;
    }

}